body{
    font-size: 90%;
    font-family: Corbel, Verdana, 'Geneva CE', lucida, sans-serif;
    margin: 10px;
    text-align: center;
}

#frame{
    margin: 0 auto;
    max-width: 600px;
    _width: 600px;
    text-align: left;
}


#tasks{
	border-top: solid #aaa 1px;
    }
    
    #tasks .task{
        position: relative;
        padding: 3px;
    	border-bottom: solid #aaa 1px;
    }
    
    #tasks .task:hover{
        background-color: #eee;
        }
        
        #tasks .task:hover .tools{
            visibility: visible;
        }
    
    #tasks .task label{
    }
    
    #tasks .task .labels{
        font-family: verdana;
        font-size: 60%;
        color: blue;
    }
    
    #tasks .task .tools{
        position: absolute;
        display: block;
        padding: 4px 10px;
        top: 0;
        right: 0;
        font-size: 60%;
        font-family: verdana;
        color:#666;
        background-color: #fff;
        z-index: 1;
        visibility: hidden;
        }
        
        .tools a{
            color: #666;
        }

