body{
    font-size: 90%;
    font-family: Corbel, Verdana, 'Geneva CE', lucida, sans-serif;
    margin: 10px;
    text-align: center;
}

#frame{
    margin: 0 auto;
    max-width: 600px;
    _width: 600px;
    text-align: left;
}


#tasks{
	border-top: solid #aaa 1px;
    }
    
    #tasks .task{
        padding: 3px;
    	border-bottom: solid #aaa 1px;
    }
    
    #tasks .task:hover{
        background-color: #eee;
    }
    
    #tasks .task label{
    }
    
    #tasks .task .labels{
        font-family: verdana;
        font-size: 60%;
        color: blue;
    }

