<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

	<servlet>
		<servlet-name>TaskSaver</servlet-name>
		<servlet-class>cz.horcica.todoizer.web.TaskSaver</servlet-class>
	</servlet>
	   <servlet>
        <servlet-name>TaskDeleter</servlet-name>
        <servlet-class>cz.horcica.todoizer.web.TaskDeleter</servlet-class>
    </servlet>
    
	<servlet-mapping>
        <servlet-name>TaskSaver</servlet-name>
        <url-pattern>/list/save</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>TaskDeleter</servlet-name>
        <url-pattern>/list/delete</url-pattern>
    </servlet-mapping>
	
	
    <security-constraint>
        <web-resource-collection>
            <url-pattern>/list/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
    </security-constraint>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

</web-app>
